@page "/CreateGame"
@using global::Shared.Model
@using HttpClients.ClientInterfaces
@using global::Shared.Dtos.GameDto
@inject IUserService UserService;
@inject IGameService GameService;
@inject ITournamentService TournamentService;
@inject IJSRuntime JsRuntime;

<div class="headline_box">
    <img src="img/golfball.png" class="golfball" alt="Golf Ball"/>
    <h3 class="headline"> Create Game </h3>
    <img src="img/golfball.png" class="golfball" alt="Golf Ball"/>
</div>

<label>
    <h5>Select players to add to the game:</h5>
</label>
<select class="select_smth" name="selectPlayers" id="selectPlayers" @onchange="SetSelectedPlayer">
    <option value=""></option>
    @foreach (User player in players)
    {
        <option value="@player.UserName">@player.UserName</option>
    }
</select>
<hr>

<label>
    <h5>Players added to the game: </h5>
</label>
<button class="deletebtn" @onclick="@DeleteAllPlayers">Delete All Players</button>
@foreach (string playerUsername in playerUsernames)
{
    <p>@playerUsername</p>
}
<hr>

<label>
    <h5>Select a tournament to add the game to: </h5>
</label>
<select class="select_smth" name="selectTournament" id="selectTournament" @onchange="SetSelectedTournament">
    <option value=""></option>
    @foreach (Tournament tournament in tournaments)
    {
        <option value="@tournament.Name">@tournament.Name</option>
    }
</select>
<h7 class="note">NOTE: You can leave this blank</h7>
<hr>

<h7 class="error">@error</h7>
<button class="createbtn" @onclick="@CreateNewGame">Create Game</button>

@code {
    private ICollection<User> players = new List<User>();
    private string error = "";
    private List<string> playerUsernames = new List<string>();
    private ICollection<Tournament> tournaments = new List<Tournament>();
    private string selectedTournament = "";


    /// Initial method that loads all players and tournaments
    protected override async Task OnInitializedAsync()
    {
        playerUsernames = new List<string>();
        error = "";
        try
        {
            players = await UserService.GetAllUsersAsync();
            tournaments = await TournamentService.GetAllTournamentsAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            error = e.Message;
        }
    }

    /// When employee presses "Create Game", a method in GameService is called with the information for Game creation
    private async Task CreateNewGame()
    {
        if (playerUsernames == null || !playerUsernames.Any())
        {
            error = "Please select players first";
            return;
        }
        
        error = "";
        
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirmAction", "Do you wish to proceed and create a new game");

        if (confirmed)
        {
            try
            {
                await GameService.CreateAsync(new GameBasicDto(null, null, playerUsernames, selectedTournament));
            }
            catch (Exception e)
            {
                Console.WriteLine(e.Message);
                error = e.Message;
                playerUsernames = new List<string>();
            }
        }
        if (error.Equals(""))
        {
            await JsRuntime.InvokeVoidAsync("alertAction", "Game Successfully Created");
            await OnInitializedAsync();
        }
            
    }

    /// There is a button "Delete Players" which allows the employee to delete the users that have been selected
    /// To be added to the new Game
    private void DeleteAllPlayers()
    {
        playerUsernames = new List<string>();
    }


    /// In the drop down menu with players, when a player is selected,
    /// The playerUsername is added to List<string> playerUsername
    private void SetSelectedPlayer(ChangeEventArgs e)
    {
        if (!string.IsNullOrEmpty(e.Value.ToString()))
        {
            playerUsernames.Add(e.Value.ToString()!);
        }
    }

    /// In the drop down menu with tournaments, when a tournaments is selected,
    /// The selectedTournament variable is assigned to the selected tournament name
    private void SetSelectedTournament(ChangeEventArgs e)
    {
        if (!string.IsNullOrEmpty(e.Value.ToString()))
        {
            selectedTournament = e.Value.ToString()!;
        }
    }

}