@page "/ManageTournament/{tournamentName}"
@using global::Shared.Model
@using HttpClients.ClientInterfaces
@inject ITournamentService TournamentService
<h3>@tournamentName</h3>

@if (tournament == null)
    {
        <h3>Loading</h3>
        <br/>
        <span>fetching data...</span>
    }
else
{
    <p>@tournament.Name</p>
    <p>@tournament.StartDate - @tournament.EndDate</p>
    <p></p>
}


<label>@msg</label>

@code {
    [Parameter] 
    public string tournamentName { get; set; }

    private Tournament tournament;
    private string msg;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            tournament = await TournamentService.GetTournamentByNameAsync(tournamentName);
            
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}