@page "/BookLesson"
@using BlazorApp.Services
@using global::Shared.Model
@using Microsoft.VisualBasic
@using System.Text.Json
@using global::Shared.Dtos.LessonDto
@using HttpClients.ClientInterfaces
@using System.Security.Claims
@inject IJavaSocketConnection socketService
@inject ILessonService lessonService;
@inject IJSRuntime jsRuntime;

<h3>Book Lesson</h3>

<div>
    <label>Select a Date</label>
    <input type="date" @onchange="SetDateTime"/><br/><br/>
</div>
<div>
    <button @onclick="SendMessage">See Instructors</button>
</div>

@if (Lessons == null)
{
    <p style="color: red">@msg</p>
}else if (!Lessons.Any())
{
    <p style="color: red">No instructors are available on @chosenDate</p>
}
else
{
    <h2>Available Instructors on: @chosenDate</h2>
    @foreach (var instructor in Lessons)
    {
        <div class="instructor">
            <p>Name: @instructor.InstructorName</p>
            <p>Date: @instructor.LessonDate</p>
            <p>Time: @instructor.LessonTime</p>
        </div>
        <button class="bookLessonBtn" onclick=@(() => ConfirmActionBookLesson(instructor))>Book Lesson</button>
    }
    <p style="color: red">@msg</p>
}

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;
    private IEnumerable<Claim>? userClaims;
    
    private ICollection<InstructorLesson> Lessons;
    private string msg = "";
    private string selectedDate;
    private string chosenDate;
    private string username;

    protected override async Task OnInitializedAsync()
    {
        socketService.Connect();
    }

    private void SetDateTime(ChangeEventArgs e)
    {
        string selectedValue = e.Value.ToString();
        selectedDate = selectedValue;
        StateHasChanged();
    }
    
    private async Task SendMessage()
    {
        
        if (string.IsNullOrWhiteSpace(chosenDate))
        {
            chosenDate = "";
        }
        chosenDate = selectedDate;
        try
        {
            string returnMessage = await socketService.SendMessage(chosenDate);
            ConvertJson(returnMessage);
        }
        catch (Exception e)
        {
            if (e.Message.Equals("Object reference not set to an instance of an object."))
            {
                msg = "";
            }
            else
            {
                msg = e.Message;
            }
        }
    }
    
    private void ConvertJson(string jsonMsg)
    {

        var options = new JsonSerializerOptions
        {
            PropertyNameCaseInsensitive = true
        };

        var result = JsonSerializer.Deserialize<Dictionary<string, List<InstructorLesson>>>(jsonMsg, options);
        if (result.TryGetValue("lesson", out var instructorList))
        {
            Lessons = instructorList;
        }
        else
        {
            Lessons.Clear();
        }

    }
    
    private async Task BookALesson(InstructorLesson instructorLesson)
    {
        if (instructorLesson == null)
        {
            msg = "Error with booking lesson!";
        }
        else
        {
            var authState = await AuthState;
            var user = authState.User;
            
            userClaims = user.Claims;
            foreach (var claim in userClaims!)
            {
                if (claim.Type.Equals("Username"))
                    username = claim.Value;
            }
            LessonCreationDto dto = new LessonCreationDto(instructorLesson.LessonDate, instructorLesson.LessonTime, username, instructorLesson.InstructorName);
            await lessonService.CreateAsync(dto);
        }
        
        // Delete the lesson from the Java side
        try
        {
            socketService.DeleteLesson(instructorLesson!.Id);
        }
        catch (Exception e)
        {
            msg = e.Message;
        }
        
        StateHasChanged();
    }
    
    private async Task ConfirmActionBookLesson(InstructorLesson instructorLesson)
    {
        bool confirmed = await jsRuntime.InvokeAsync<bool>("confirmAction", "Are you sure you want to proceed?");
        
        if (confirmed)
        {
            try
            {
                await BookALesson(instructorLesson);
                await OnInitializedAsync();
                msg = "Lesson Booked";
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                msg = e.Message;
            }
            if (msg.Equals(""))
            {
                await jsRuntime.InvokeVoidAsync("alertAction", "Lesson Successfully Created");
                await OnInitializedAsync();
            }
        }
        else
        {
            await OnInitializedAsync();
        }
    }
}